h1,
h2,
h3,
#name,#description::before,#options::before,#price {
    font-family: nth($fonts, 1);
}
h1,h2 {
    font-size: 2.5em;
    font-weight: bold;
}
h3 {
    font-size: 2em;
}
a {
    text-decoration: none;
    color: inherit;
}
.material-icons {
    vertical-align: sub;
    font-size: 1.5em;
}

#name,#price {
    font-size: 50px;
    font-weight: bold;
}

#description::before,#options::before{
    font-size: 30px;
}
